include LICENSE
include README.md
include README.ru.md
include CHANGELOG.md
include pyproject.toml
recursive-include kinect_next py.typed

recursive-exclude tests *
recursive-exclude examples *
exclude dev.md
exclude guide.md
exclude requirements.txt
